/* common */
@font-face {
    font-family: "AppleSDGothicNeo";
    src: url("../font/AppleSDGothicNeo.ttc");
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("../font/HelveticaNeue.ttc");
}
* {
    box-sizing: border-box;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
}
select {
    padding-right: 13px;
    background: transparent url("../img/selectArrow.svg") no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Component */
.is_T200 {
    font-size: 200px;
    line-height: 156px;
}
.is_T140 {
    font-weight: bold;
    font-size: 140px;
    line-height: 160px;
}
.is_T130 {
    font-weight: bold;
    font-size: 130px;
    line-height: 140px;
}
.is_T108 {
    font-weight: bold;
    font-size: 108px;
    line-height: 110px;
}
.is_T72 {
    font-size: 72px;
    line-height: 80px;
}
.is_T40 {
    font-size: 40px;
    line-height: 56px;
}
.is_T28 {
    font-size: 28px;
    line-height: 40px;
}
.is_T24 {
    font-size: 24px;
    line-height: 40px;
}
.is_T20 {
    font-size: 20px;
    line-height: 32px;
}
.is_T16 {
    font-size: 16px;
    line-height: 26px;
}
.is_T20 {
    font-size: 20px;
    line-height: 32px;
}
.is_T13 {
    font-size: 13px;
    line-height: 20px;
}
.is_parallax:not('.is_fixBg') {
    transition: background-position 0.25s;
}
/* icon */
.ic_plus {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: no-repeat center url(../img/whatWeDoPlus.svg);
    margin-right: 10px;
}
/* Content Style */
.euro {
    font-family: "HelveticaNeue", "AppleSDGothicNeo";
    color: #000000;
    letter-spacing: -0.02em;
}
.euroHeader {
    position: fixed;
    top: -90px;
    left: 0;
    width: 100%;
    min-height: 90px;
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}
.euroHeaderLogo {
    position: absolute;
    top: 25px;
    right: 24px;
    width: 44px;
    height: 51px;
    background: no-repeat center url("../img/logo.svg");
    background-size: contain;
    z-index: 100;
}
.euroHeader.is_white .euroHeaderLogo {
    background-image: url("../img/logo_w.svg");
}
.euroHeader.is_white .euroHeaderBarSub,
.euroHeader.is_white .euroHeaderBarMenuLink,
.euroHeader.is_white .euroHeaderBarMenuSubLink {
    color: #ffffff;
}
.euroHeader.is_white select {
    background-image: url("../img/selectArrow_w.svg");
}
.euroHeader.is_white:not(.is_top) .euroMenuBtn.is_on {
    background-image: url("../img/close_w.svg");
}
.euroHeader.is_on {
    top: 0;
    opacity: 1;
}
.euroHeader.is_top .is_hide_top,
.euroHeader.is_up .is_hide_up {
    display: none;
}
.euroHeaderBar {
    width: 100%;
    padding: 20px 24px 9px;
    border-top: 5px solid #0073CC;
}
.euroHeaderBarMenu {
    position: relative;
}
.euroHeaderBarMenuList {
    display: inline-block;
    min-width: 310px;
    vertical-align: top;
}
.euroHeaderBarMenuLink {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    transition: opacity 0.35s;
    cursor: pointer;
}
.euroHeaderBarMenu:hover .euroHeaderBarMenuLink,
.euroHeaderBarMenuLink.is_active,
.euroHeaderBarMenuSubLink:hover,
.euroHeaderBarMenuSubLink.is_active {
    color: #0073cc !important;
}
.euroHeaderBarMenuSub {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}
.euroHeaderBarMenuSubLink {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    white-space: nowrap;
    color: #000000;
}
.euroHeaderBarSubList {
    display: inline-block;
    min-width: 120px;
    vertical-align: top;
}
.euroHeaderBarSub {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    border: 0;
    color: #000000;
}
.euroContainer {
    max-width: 1440px;
    margin: auto;
}
.euroSubHeaderWrap {
    display: flex;
    flex-wrap: wrap;
}
.euroSubHeader {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    padding: 230px 24px 46px;
    font-weight: bold;
    font-size: 108px;
    line-height: 100px;
    letter-spacing: -0.02em;
    color: #000000;
    white-space: nowrap;
    transition: text-indent 2.7s linear;
    transition-delay: 0.7s;
}
.euroSubHeaderSub {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    padding: 230px 24px 46px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;
    white-space: nowrap;
}
.euroSubHeaderSubRight {
    flex: none;
    padding: 300px 24px 46px;
}
.euroSubHeaderSubButton {
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #000000;
    white-space: nowrap;
}
.euroSubHero {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 1360px;
    background: no-repeat center;
    background-size: cover;
}
.euroSubHeroText {
    position: absolute;
    color: #ffffff;
}
.euroSubHeroText.is_rightBottom {
    left: 50%;
    bottom: 0;
    padding: 0 48px 118px;
}
.euroWorkHero {
    position: relative;
    width: 100%;
    background: no-repeat center;
    background-size: cover;
}
.euroWorkHero.is_fixBg {
    background-attachment: fixed;
}
.euroWorkHero.is_white .euroWorkHeroTextTitle {
    color: #FFFFFF;
}
.euroWorkHero.is_white .euroWorkHeroTextSubTitle {
    color: #EEEEEE;
}
.euroWorkHero.is_white .euroWorkHeroText {
    color: #FFFFFF;
}
.euroWorkHeroTextWrap {
    padding: 319px 142px 114px;
}
.euroWorkHeroTextTitle {
    font-weight: bold;
    font-size: 108px;
    line-height: 100px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroWorkHeroTextSubTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #CCCCCC;
    margin-top: 12px;
}
.euroWorkHeroText {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: -0.03em;
    margin-top: 293px;
    color: #000000;
}
.euroWorkHeroText + .euroWorkHeroText {
    margin-top: 24px;
}
.euroMainContentWrap {
    font-size: 0;
    line-height: 0;
}
.euroMainContentWrap:after {
    content: "";
    display: block;
    clear: both;
}
.euroMainContent {
    position: relative;
    display: block;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    vertical-align: top;
    float: left;
}
.euroMainContentBox {
    position: absolute;
    background: no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.euroMainContent.is_img .euroMainContentBox {
    background: no-repeat center;
    background-size: cover;
}
.euroMainContent.is_text .euroMainContentBox {
    padding: 10px 24px;
}
.euroMainContentEyebrow {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroMainContentText {
    display: block;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 130px;
}
.euroMainContentLink {
    position: relative;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-right: 39px;
    background: no-repeat right center url("../img/buttonClickHeader.svg");
    background-size: 9px;
    margin-top: 80px;
}
.euroMainContentLink:after {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    right: 2px;
    top: calc(50% - 0.6px);
    background-color: #000000;
    transition: 0.5s;
}
.euroMainContentLink:hover:after {
    width: 30px;
}
.euroMainContentWrap.is_reverse .euroMainContent:first-child {
    float: right;
}
.euroHero {
    width: 100%;
    height: 100vh;
}
.euroHeroItem {
    position: relative;
    background: no-repeat center;
    background-size: cover;
}
.euroHeroItemTextBox {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(114px + 50%);
    transform: translateY(-50%);
    z-index: 10;
}
.euroHeroItemTextWrap {
    margin: auto;
    max-width: 1440px;
    padding: 0 200px;
}
.euroHeroItemText {
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.euroHeroItemLink {
    position: relative;
    display: inline-block;
    margin-top: 63px;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-right: 39px;
    background: no-repeat right center url("../img/buttonClickHeader_w.svg");
    background-size: 9px;
}
.euroHeroItemLink:after {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    right: 2px;
    top: calc(50% - 0.6px);
    background-color: #ffffff;
    transition: 0.5s;
}
.euroHeroItemLink:hover:after {
    width: 30px;
}
.euroFooter {
    position: relative;
    background-color: #121C2C;
    padding: 25px 24px 29px;
    color: #999999;
}
.euroFooterLogo {
    position: absolute;
    top: 25px;
    right: 24px;
    width: 44px;
    height: 51px;
    background: no-repeat center url("../img/logo_w.svg");
    background-size: contain;
}
.euroFooterTop {
    display: flex;
    flex-wrap: wrap;
}
.euroFooterMenuList {
    flex: none;
    width: 360px;
}
.euroFooterMenuLink {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.euroFooterSub {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.03em;
    border: 0;
    color: #ffffff;
}
select.euroFooterSub {
    background-image: url(../img/selectArrow_w.svg);
}
.euroFooterSubList {
    flex: none;
    width: 120px;
}
.euroFooterBottom {
    margin-top: 124px;
    padding-top: 12px;
    border-top: solid 1px rgba(85, 94, 109, 0.11);
}
.euroFooterDescription {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #D9D9D9;
}
.euroFooterCopyrighy {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #555E6D;
}
.contactForm {
    padding: 50px 24px 0 calc(50% + 24px);
}
.contactInput {
    width: 100%;
    min-height: 34px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
    border: none;
    border-bottom: 1px solid #EEEEEE;
    resize: vertical;
}
.contactInput::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #BBBBBB;
}
.contactInput + .contactInput {
    margin-top: 30px;
}
.contactSubmit {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    padding: 0 40px 0 0;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
    background: transparent no-repeat right center url(../img/arrow.svg);
    background-size: 30px;
}
.contactInfoBox {
    margin: -140px 24px 100px;
}
.contactInfo {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #333333;
}
a.contactInfo {
    text-decoration: underline;
}
.contactInfoHeader {
    min-width: 35px;
    display: inline-block;
}
.contactInfoBody {
    display: inline-block;
}
.euroHeader .euroMenuBtn.is_onFix {
    font-size: 0;
    color: transparent;
    width: 22px;
    height: 22px;
    background: no-repeat center url("../img/close.svg");
    background-size: 22px;
}
.euroWorkDetailBox {
    margin-top: 117px;
}
.euroWorkDetailTitle {
    display: block;
    padding: 0 24px 28px;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroWorkDetailTile {
    display: flex;
    flex-wrap: wrap;
}
.euroWorkDetailTileItem,
.euroWorkDetailTileItemWrap {
    position: relative;
    flex: none;
    border: solid 1px #EEEEEE;
    border-left-width: 0;
    background: no-repeat center;
    background-size: contain;
}
.euroWorkDetailTile .euroWorkDetailTileItem {
    width: 25%;
    padding-bottom: 25%;
}
.euroWorkDetailTileItemWrap.is_type1 {
    width: 25%;
}
.euroWorkDetailTileItemWrap.is_type2 {
    width: 50%;
}
.euroWorkDetailTileItemWrap.is_type4 {
    width: 100%;
}
.euroWorkDetailTile .euroWorkDetailTileItem.is_type44 {
    width: 100%;
    padding-bottom: 100%;
}
.euroWorkDetailTile .euroWorkDetailTileItem.is_type22 {
    width: 50%;
    padding-bottom: 50%;
}
.euroWorkDetailTile .euroWorkDetailTileItem.is_type24 {
    width: 50%;
    padding-bottom: 100%;
}
.euroWorkDetailTile .euroWorkDetailTileItem:nth-child(4n - 3) {
    border-left-width: 1px;
}
.euroWorkDetailTile .euroWorkDetailTileItem:nth-child(n + 4) {
    border-top-width: 0;
}
.euroWorkDetailTile.is_type1 .euroWorkDetailTileItem {
    padding-bottom: 37.9166%;
}
.euroWorkDetailTileItemText {
    position: absolute;
    padding: 17px 24px;
    left: 0;
    bottom: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroWorkDetailTileItemText.is_fix {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    margin: 0;
}
.euroWorkDetailTileItemTextTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroWorkDetailVideoBox {
    position: relative;
    height: 820px;
}
.euroWorkDetailVideoBox.is_play .euroWorkDetailVideoFloatingWrap {
    height: 0;
}
.euroWorkDetailVideoBox.is_play {
    cursor: url("../img/closeVideo_w.svg"), auto;
}
.euroWorkDetailVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: no-repeat center;
    background-size: cover;
}
.euroWorkDetailVideoFloatingWrap {
    position: absolute;
    overflow: hidden;
    right: 144px;
    top: 140px;
    width: 432px;
    height: 540px;
    transition: 1s;
}
.euroWorkDetailVideoFloating {
    height: 100%;
    padding: 10px 24px 48px;
    background: #ffffff no-repeat top;
    background-size: cover;
}
.euroWorkDetailVideoFloatingTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroWorkDetailVideoFloatingTime {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #BBBBBB;
}
.euroWorkDetailVideoFloatingPlay {
    position: absolute;
    right: 22px;
    top: 24px;
    width: 40px;
    height: 40px;
    background: no-repeat center url("../img/playBtn.png");
    z-index: 5;
    cursor: pointer;
}
.euroWorkDetailVideoFloatingText {
    margin-top: 274px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroWorkDetailAccordion {
    max-width: 1056px;
    padding: 0 24px;
}
.euroWorkDetailAccordionItem {
    position: relative;
    border-top: solid 1px #eeeeee;
    display: flex;
    padding: 23px 0;
}
.euroWorkDetailAccordionTitle {
    flex: none;
    width: 360px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;
}
.euroWorkDetailAccordionDescription {
    flex: 1;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
    padding-right: 24px;
    padding-bottom: 43px;
    opacity: 0;
    overflow: hidden;
    height: 0;
}
.euroWorkDetailAccordionItem.is_open .euroWorkDetailAccordionDescription {
    opacity: 1;
    height: auto;
}
.euroWorkDetailAccordionBtn {
    position: absolute;
    top: 23px;
    right: 0;
    width: 24px;
    height: 24px;
    background: no-repeat center url(../img/whatWeDoPlus.svg);
    background-size: 24px;
    z-index: 5;
    cursor: pointer;
}
.euroWorkDetailAccordionItem.is_open .euroWorkDetailAccordionBtn {
    background-image: url(../img/whatWeDoMinus.svg);
}
.euroWorkDetailSliderTitle {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #333333;
    padding: 0 24px 17px;
}
.euroWorkDetailSlider {
    margin-bottom: 66px;
}
.euroWorkDetailSliderItem {
    position: relative;
    float: left;
    width: 354px;
    padding-top: 200px;
}
.euroWorkDetailSliderItemImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 354px;
    height: 200px;
    background: no-repeat center;
    background-size: cover;
}
.euroWorkDetailSliderItemText {
    padding: 8px 24px;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #BBBBBB;
}
@media (min-width: 920px) {
    .is_hide_p {
        display: none !important;
    }

    .euroHeader.is_top .is_pcHide_top,
    .euroHeader.is_up .is_pcHide_up {
        display: none;
    }

    .euroHeader:not(.is_top) .euroNav.is_on {
        display: block !important;
        position: absolute;
        left: 24px;
        top: 121px;
    }

    .euroHeader:not(.is_top) .euroNav.is_on .euroHeaderBarMenuLink {
        font-weight: 500;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.02em;
    }

    .euroHeader:not(.is_top) .euroNav.is_on .euroHeaderBarMenu:hover .euroHeaderBarMenuSub {
        display: block;
    }

    .euroHeader:not(.is_top) .euroMenuBtn.is_on {
        font-size: 0;
        color: transparent;
        width: 22px;
        height: 22px;
        background: no-repeat center url("../img/close.svg");
        background-size: 22px;
    }
}
@media (max-width: 920px) {
    .is_hide_m {
        display: none !important;
    }

    .euroHeader.is_top .is_mobileHide_top,
    .euroHeader.is_up .is_mobileHide_up {
        display: none;
    }

    .euroHeaderBar {
        padding: 17px 12px;
    }

    .euroHeader:not(.is_white) {
        background-color: #ffffff;
    }

    .euroHeaderLogo {
        top: 20px;
        right: 16px;
    }

    .euroHeaderBarMenuList {
        width: 100%;
        margin-bottom: 25px;
    }

    .euroHeaderBarSubList {
        width: 100%;
        margin-bottom: 12px;
        color: #000000;
    }

    .euroSubHeader {
        padding: 220px 12px 15px;
        font-weight: bold;
        font-size: 72px;
        line-height: 80px;
        letter-spacing: -0.02em;
        color: #000000;
        white-space: nowrap;
    }

    .euroSubHeaderSub {
        flex: none;
        width: 100%;
        padding: 8px 12px 40px;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: #000000;
        white-space: nowrap;
    }

    .euroSubHero {
        padding-bottom: 720px;
    }

    .euroSubHeroText.is_rightBottom {
        left: 0;
        bottom: 0;
        padding: 31px 12px;
    }

    .euroWorkHero {
        padding-bottom: 720px;
    }

    .euroWorkHeroTextWrap {
        padding: 31px 12px;
    }

    .euroContainer .is_mobileFull {
        margin-left: -12px;
        margin-right: -12px;
    }

    .euroMainContent.is_img {
        width: 100%;
    }

    .euroMainContent.is_img.is_img_1 {
        padding-bottom: 89.03%;
    }

    .euroMainContent.is_img.is_img_3 {
        padding-bottom: 179.2%;
    }

    .euroMainContent.is_text {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    .euroMainContent.is_text .euroMainContentBox {
        position: static;
        padding: 20px 12px 52px;
    }

    .euroHeroItemTextBox {
        top: auto;
        transform: none;
        bottom: 0;
    }

    .euroHeroItemTextWrap {
        padding: 31px 12px;
    }

    .euroMainContentEyebrow {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .euroMainContentText {
        margin-top: 33px;
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .euroMainContentLink {
        margin-top: 33px;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .euroFooter {
        padding: 20px 24px 18px;
    }

    .euroFooterDescription {
        height: auto;
    }

    .euroFooterMenuList {
        width: 100%;
    }

    .euroFooterSubList {
        width: 100%;
        margin-top: 30px;
    }

    .euroFooterBottom {
        margin-top: 92px;
    }

    .contactForm {
        padding: 0 12px 64px;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .contactInput {
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: -0.02em;
        color: #BBBBBB;
    }

    .contactSubmit {
        margin-left: 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .contactInfoBox {
        margin: 0 0 77px 50%;
    }

    .contactInfo {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.02em;
        color: #333333;
    }
}
