/* common */
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../font/AppleSDGothicNeo.ttc");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/HelveticaNeue.ttc");
}
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
}
select {
  padding-right: 13px;
  background: transparent url("../img/selectArrow.svg") no-repeat right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Component */
.is_T200 {
  font-size: 200px;
  line-height: 156px;
}
.is_T140 {
  font-weight: bold;
  font-size: 140px;
  line-height: 160px;
}
.is_T130 {
  font-weight: bold;
  font-size: 130px;
  line-height: 140px;
}
.is_T108 {
  font-weight: bold;
  font-size: 108px;
  line-height: 110px;
}
.is_T72 {
  font-size: 72px;
  line-height: 80px;
}
.is_T40 {
  font-size: 40px;
  line-height: 56px;
}
.is_T28 {
  font-size: 28px;
  line-height: 40px;
}
.is_T24 {
  font-size: 24px;
  line-height: 40px;
}
.is_T20 {
  font-size: 20px;
  line-height: 32px;
}
.is_T16 {
  font-size: 16px;
  line-height: 26px;
}
.is_T20 {
  font-size: 20px;
  line-height: 32px;
}
.is_T13 {
  font-size: 13px;
  line-height: 20px;
}
.is_parallax {
  transition: background-position 0.25s;
}

/* Content Style */
.euro {
  font-family: "HelveticaNeue", "AppleSDGothicNeo";
  color: #000000;
  letter-spacing: -0.02em;
}
.euroHeader {
  position: fixed;
  background: no-repeat right 24px top 25px url("../img/logo.svg");
  background-size: 43px;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 114px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.35s;
}
.euroHeader.is_main {
  background-image: url("../img/logo_w.svg");
}
.euroHeader.is_main .euroHeaderBarSub,
.euroHeader.is_main .euroHeaderBarMenuLink,
.euroHeader.is_main .euroHeaderBarMenuSubLink {
  color: #ffffff;
}
.euroHeader.is_main select {
  background-image: url("../img/selectArrow_w.svg");
}
.euroHeader.is_on {
  opacity: 1;
}
.euroHeader.is_top .is_hide_top,
.euroHeader.is_up .is_hide_up {
  display: none;
}
.euroHeaderBar {
  width: 100%;
  padding: 20px 24px 9px;
}
.euroHeaderBarMenu {
  position: relative;
}
.euroHeaderBarMenuList {
  display: inline-block;
  min-width: 310px;
  vertical-align: top;
}
.euroHeaderBarMenuLink {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: opacity 0.35s;
  cursor: pointer;
}
.euroHeaderBarMenu:hover .euroHeaderBarMenuLink,
.euroHeaderBarMenuSubLink:hover {
  color: #0073cc !important;
}
.euroHeaderBarMenuSub {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
.euroHeaderBarMenuSubLink {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
  white-space: nowrap;
}
.euroHeaderBarSubList {
  display: inline-block;
  min-width: 120px;
  vertical-align: top;
}
.euroHeaderBarSub {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  border: 0;
}
.euroContainer {
  max-width: 1440px;
  margin: auto;
}
.euroSubHeader {
  max-width: 100%;
  overflow: hidden;
  padding: 230px 24px 46px;
  font-weight: bold;
  font-size: 108px;
  line-height: 100px;
  letter-spacing: -0.02em;
  color: #000000;
  white-space: nowrap;
}
.euroSubHero {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 1360px;
  background: no-repeat center;
  background-size: cover;
}
.euroSubHeroText {
  position: absolute;
  color: #ffffff;
}
.euroSubHeroText.is_rightBottom {
  left: 50%;
  bottom: 0;
  padding: 0 48px 118px;
}
.euroMainContentWrap {
  font-size: 0;
  line-height: 0;
}
.euroMainContentWrap:after {
  content: "";
  display: block;
  clear: both;
}
.euroMainContent {
  position: relative;
  display: block;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  vertical-align: top;
  float: left;
}
.euroMainContentBox {
  position: absolute;
  background: no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.euroMainContent.is_img .euroMainContentBox {
  background: no-repeat center;
  background-size: cover;
}
.euroMainContent.is_text .euroMainContentBox {
  padding: 10px 24px;
}
.euroMainContentEyebrow {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #000000;
}
.euroMainContentText {
  display: block;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 130px;
}
.euroMainContentLink {
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-right: 40px;
  background: no-repeat right center url(../img/buttonClick.svg);
  background-size: 30px;
  margin-top: 80px;
}
.euroMainContentWrap.is_reverse .euroMainContent:first-child {
  float: right;
}
.euroHero {
  width: 100%;
  height: 100vh;
}
.euroHeroItem {
  position: relative;
  background: no-repeat center;
  background-size: cover;
}
.euroHeroItemTextBox {
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(114px + 50%);
  transform: translateY(-50%);
  z-index: 10;
}
.euroHeroItemTextWrap {
  margin: auto;
  max-width: 1440px;
  padding: 0 200px;
}
.euroHeroItemText {
  font-weight: bold;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.euroHeroItemLink {
  display: inline-block;
  margin-top: 63px;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-right: 140px;
  background: no-repeat right center url("../img/buttonClick_w.svg");
  background-size: 30px;
}
.euroFooter {
  position: relative;
  background: #121c2c no-repeat right 24px top 25px url("../img/logo_w.svg");
  background-size: 43px;
  padding: 25px 24px 29px;
  color: #999999;
}
.euroFooterDescription {
  height: 236px;
}

@media (min-width: 768px) {
  .is_hide_p {
    display: none !important;
  }
  .euroHeader.is_top .is_pcHide_top,
  .euroHeader.is_up .is_pcHide_up {
    display: none;
  }
  .euroHeader:not(.is_top) .euroNav.is_on {
    display: block !important;
    position: absolute;
    left: 24px;
    top: 121px;
  }
  .euroHeader:not(.is_top) .euroNav.is_on .euroHeaderBarMenuLink {
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.02em;
  }
  .euroHeader:not(.is_top) .euroNav.is_on .euroHeaderBarMenu:hover .euroHeaderBarMenuSub {
    display: block;
  }
  .euroHeader:not(.is_top) .euroMenuBtn.is_on {
    font-size: 0;
    color: transparent;
    width: 22px;
    height: 22px;
    background: no-repeat center url("../img/close.svg");
    background-size: 22px;
  }
  .euroHeader.is_main:not(.is_top) .euroMenuBtn.is_on {
    background-image: url("../img/close_w.svg");
  }
}

@media (max-width: 768px) {
  .is_hide_m {
    display: none !important;
  }
  .euroHeader.is_top .is_mobileHide_top,
  .euroHeader.is_up .is_mobileHide_up {
    display: none;
  }
  .euroFooter {
    padding: 20px 24px 18px;
  }
  .euroFooterDescription {
    height: 182px;
  }
  .euroHeaderBarMenuList {
    width: 100%;
    margin-bottom: 25px;
  }
  .euroHeaderBarSubList {
    width: 100%;
    margin-bottom: 12px;
  }
  .euroSubHeader {
    padding: 220px 12px 15px;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #000000;
    white-space: nowrap;
  }
  .euroSubHero {
    padding-bottom: 720px;
  }
  .euroSubHeroText.is_rightBottom {
    left: 0;
    bottom: 0;
    padding: 31px 12px;
  }
  .euroContainer .is_mobileFull {
    margin-left: -12px;
    margin-right: -12px;
  }
  .euroMainContent.is_img {
    width: 100%;
  }
  .euroMainContent.is_img.is_img_1 {
    padding-bottom: 89.03%;
  }
  .euroMainContent.is_img.is_img_3 {
    padding-bottom: 179.2%;
  }
  .euroMainContent.is_text {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  .euroMainContent.is_text .euroMainContentBox {
    position: static;
    padding: 20px 12px 52px;
  }
  .euroHeroItemTextBox {
    top: auto;
    transform: none;
    bottom: 0;
  }
  .euroHeroItemTextWrap {
    padding: 31px 12px;
  }
  .euroMainContentEyebrow {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .euroMainContentText {
    margin-top: 33px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .euroMainContentLink {
    margin-top: 33px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #000000;
  }
}
