/**
 * 2. Structure
 * ----------------------------------------------------------------------------
 */
.inner-wide {
  max-width: 1280px;
  margin: auto;
}

.inner {
  max-width: 720px;
}

.site {
  overflow: hidden;
  position: relative;
}

.site-content {
  padding-left: 3vw;
  padding-right: 3vw;
}

.site-content {
  padding-bottom: 2.5em;
  padding-top: 2.5em;
}

.site-main {
  margin-bottom: 1.6666em;
}