<!-- 페이지 타이틀 -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col">
            <h4 class="page-title">사이즈 정보</h4>
        </div>
    </div>
</div>
<!-- 페이지 컨텐츠  -->
<form method="post" class="container-fluid" id="commonSizeForm">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col py-1">
                            <h5 class="font-weight-bold mb-1">사이즈 단위</h5>
                            <h6 class="m-0">상품 카테고리별 사용 사이즈 단위</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <small>ex) TOP / 상의 / 어깨,가슴,팔길이,총길이</small><br>
                    <small>ex) SUSPENDER_SKIRT / 멜빵치마 / 윗가슴,허리,엉덩이,총길이</small>
                    <div class="row" id="input_list"></div>
                    <div class="row">
<!--                        <div class="col">-->
<!--                        </div>-->
                        <div class="row div_row" style="display: contents;">
                            <div class="input-group js_input-item col-12 mb-1">
                                <div class="input-group-prepend">
                                    <input type="text" class="input-group-text js_input-category is_normalText is_impotent" id="code" name="code" placeholder="카테고리 코드" value="" data-alram="카테고리 코드">
                                    <input type="text" class="input-group-text js_input-category is_normalText is_impotent" id="code_name" name="code_name" placeholder="카테고리" value="" data-alram="카테고리">
                                </div>
                                <input type="text" class="form-control js_input-sizeList is_normalText is_impotent" id="code_desc" name="code_desc" placeholder="단위1,단위2,단위3..." value="" data-alram="단위 정보">
                            </div>
                            <div class="col-md-3 mb-2">
                                <img class="img-thumbnail img-responsive mb-1" alt="" id="common_size_img" src="/img/no_image.png" style="width: 400px;">
                                <input type="hidden" class="is_impotent" id="code_value" name="code_value" data-alram="사이즈 이미지">
                                <div class="custom-file">
                                    <input class="custom-file-input" id="profile_file" type="file" accept="image/jpeg, image/png, image/jpg" name="profile_file" onchange="changeSizeFile(event);">
                                    <label class="custom-file-label" for="inputGroupFile01" data-content="업로드">선택된 파일 없음</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="name">정렬값
                                        <button class="question btn btn-sm p-0" data-toggle="dropdown" type="button"><i class="fas fa-question-circle"></i></button>
                                        <div class="dropdown-menu">
                                            <h6 class="dropdown-header">가장 높음 : 1, 가장 낮음 : 100</h6>
                                        </div>
                                    </label>
                                </div>
                                <input class="form-control is_impotent" id="sort" type="text" name="sort" data-alram="중요도" placeholder="중요도 입력" onkeyup="checkInputValue($(this).val())">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-success float-right" onclick="createCommonSizeInfo()">등록하기</button>
                    <button type="button" class="btn btn-success float-right" onclick="goToCommonSizeInfoList()">목록으로</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--스크립트-->
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script>
    var bucketName = 'nextdop';
    var bucketRegion = 'ap-northeast-2';
    var IdentityPoolId = 'ap-northeast-2:7bac1f23-f1be-435c-887b-db3889ab1e13';

    AWS.config.update({
        region: bucketRegion,
        credentials: new AWS.CognitoIdentityCredentials({
            IdentityPoolId: IdentityPoolId
        })
    });

    var s3 = new AWS.S3({
        apiVersion: '2006-03-01',
        params: {Bucket: bucketName}
    });
</script>

<script type="text/javascript">
    // 공통 사이즈 정보를 등록한다.
    function createCommonSizeInfo() {
        if(checkValues() === true) {
            const sendData = $("#commonSizeForm").serialize();
            $.ajax({
                type : 'POST',
                data : sendData,
                url : `${denma_api_url}/api/sizeInfo/create`,
                success : function (response) {
                    if(response.hasOwnProperty('errno')) {
                        if(response.errno === 1062) {
                            alert('이미 등록된 카테고리 코드입니다. 다른 카테고리 코드를 입력해주세요.');
                            $("#code").focus();
                            return false;
                        }else {
                            alert('요청 처리중에 오류가 발생했습니다. 다시 시도해주세요.');
                        }
                    }else {
                        alert('사이즈 정보가 등록되었습니다.');
                        goToCommonSizeInfoList();
                    }
                },
                error : function (error) {
                    console.log("error : ", error);
                    alert('요청 처리중에 오류가 발생했습니다. 다시 시도해주세요.');
                }
            });
        }
    }

    // 공통 사이즈 정보 리스트로 이동한다.
    function goToCommonSizeInfoList() {
        location.href = '/view/size_info/list';
    }

    // 업로드시마다 해당 사진의 정보를 s3에 업로드하고 미리보기로 보여준다.
    function changeSizeFile(event) {
        const files = event.target.files;
        for(let file of files) {
            const reader = new FileReader;
            reader.onload = function (event) {
                const file_name = getTimeStamp() + '_' + getRandomStr(3) + '.jpg';
                let params = {
                    Key: `sizeinfo/denmastudio/${file_name}`,
                    Body: file,
                    ACL: 'public-read',
                    ContentType: getContentType("jpg"),
                };
                let options = {partSize: 10 * 1024 * 1024, queueSize: 1};
                s3.upload(params, options).on('httpUploadProgress', function (event) {
                    console.log("Uploaded :: " + parseInt((event.loaded * 100) / event.total)+'%');
                }).send(function (error, uploadData) {
                    if(!error) {
                        showAlert('이미지 업로드 완료');
                        $("#common_size_img").attr('src', uploadData.Location);
                        $("#code_value").val(uploadData.Location);
                    }else {
                        console.log("error : ", error);
                        showAlert('이미지 업로드중 오류가 발생했습니다. 다시 시도해주세요.');
                    }
                });
            }
            reader.readAsDataURL(file);
        }
        $("#profile_file").val('');
    }

    // 필수입력값에 대한 유효성 검사 실행.
    function checkValues() {
        const is_impotent = $(".is_impotent");
        for(let i = 0; i < is_impotent.length; i++) {
            let $target = is_impotent.eq(i);
            if(!$target.val()) {
                let alramTest = $target.attr('data-alram');
                showAlert(alramTest+'를 입력해주세요.');
                $target.focus();
                return false;
            }
        }
        return true;
    }

    /* 중요도 입력값 1 ~ 100사이로 제한 */
    function checkInputValue(param) {

        $idx = $("#idx");

        $idx.val(numOnly(param)); // 문자 입력시 공백으로 반환.

        if(param < 0 || param > 100) {
            alert("정렬값은 1 ~ 100사이만 입력가능합니다.");
            $idx.val(1);
            $idx.focus();
        }
    }

</script>

