<div class="euroFooterTop">
    <div class="euroFooterMenuList">
        <div class="euroFooterMenu">
            <a class="euroFooterMenuLink" href="whatwedo.html">What we do</a>
        </div>
        <div class="euroFooterMenu is_hide_m">
            <a class="euroFooterMenuLink" href="work.html">Work</a>
        </div>
        <div class="euroFooterMenu">
            <a class="euroFooterMenuLink" href="portfolio.html">Portfolio</a>
        </div>
        <div class="euroFooterMenu is_hide_m">
            <a class="euroFooterMenuLink" href="certificate.html">Certificate</a>
        </div>
        <div class="euroFooterMenu is_hide_p">
            <a class="euroFooterMenuLink" href="contact.html">Contact</a>
        </div>
    </div>
<!--    <div class="euroFooterSubList">-->
<!--        <select class="euroFooterSub">-->
<!--            <option value="KR">KR</option>-->
<!--            <option value="EN">EN</option>-->
<!--        </select>-->
<!--    </div>-->
    <div class="euroFooterSubList is_hide_m">
        <a class="euroFooterSub" href="contact.html">Contact</a>
    </div>
</div>
<div class="euroFooterBottom">
    <div class="euroFooterDescription">EURO ENGINEERING</div>
    <div class="euroFooterCopyrighy">copyright (c) www.ieuroeng.co.kr all rights reserved.</div>
</div>
<a class="euroFooterLogo" href="main.html"></a>