<a class="euroHeaderLogo" href="main.html"></a>
<div class="euroHeaderBar">
    <div class="euroHeaderBarMenuList is_pcHide_top is_hide_m">
        <button class="euroHeaderBarMenuLink euroMenuBtn" type="button" onclick="euroMenuBtn();">
            Menu
        </button>
    </div>
    <div class="euroNav euroHeaderBarMenuList is_pcHide_up">
        <div class="euroHeaderBarMenu">
            <a class="euroHeaderBarMenuLink" href="whatwedo.html">What we do</a>
        </div>
        <div class="euroHeaderBarMenu">
            <a class="euroHeaderBarMenuLink is_hide_m" href="work.html">Work</a>
            <div class="euroHeaderBarMenuSub">
                <a class="euroHeaderBarMenuSubLink" href="workDetail_1.html">프리캐스트 콘크리트 골조</a>
                <a class="euroHeaderBarMenuSubLink" href="workDetail_2.html">Coling Tower</a>
                <a class="euroHeaderBarMenuSubLink" href="workDetail_3.html">SSPC</a>
                <a class="euroHeaderBarMenuSubLink" href="workDetail_4.html">PBCR</a>
                <a class="euroHeaderBarMenuSubLink" href="workDetail_5.html">PCRC</a>
                <a class="euroHeaderBarMenuSubLink" href="workDetail_6.html">내진 구조 성능 실험</a>
            </div>
        </div>
        <div class="euroHeaderBarMenu">
            <a class="euroHeaderBarMenuLink" href="portfolio.html">Portfolio</a>
        </div>
        <div class="euroHeaderBarMenu">
            <a class="euroHeaderBarMenuLink is_hide_m" href="certificate.html">Certificate</a>
        </div>
        <div class="euroHeaderBarMenu">
            <a class="euroHeaderBarMenuLink is_hide_p" href="contact.html">Contact</a>
        </div>
    </div>
    <div class="euroHeaderBarSubList is_pcHide_top">
        <select class="euroHeaderBarSub">
            <option value="KR">KR</option>
            <option value="EN">EN</option>
        </select>
    </div>
    <div class="euroHeaderBarSubList is_pcHide_top is_hide_m">
        <a class="euroHeaderBarSub" href="contact.html">Contact</a>
    </div>
</div>