<style>
    .td-center{text-align: center;}
</style>
<!-- 페이지 타이틀 -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col">
            <h2 class="page-title text-dark">도매 플랫폼 정보</h2>
        </div>
    </div>
</div>
<!-- 페이지 컨텐츠 -->
<form class="container-fluid" method="post" id="insertForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-header py-2">
                    <div class="row">
                        <div class="col py-1">
                            <h5 class="font-weight-bold mb-1">도매 플랫폼 정보 관리</h5>
                        </div>
                    </div>
                </div>


                <div class="card-body" style="max-width: 1000px;">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="platform_code">플랫폼 코드<span class="text-danger ml-05">*</span></label>
                        </div>
<!--                        <input class="form-control is_impotent" id="platform_code" type="text" name="platform_code" placeholder="플랫폼 코드 넣어주세요" data-alram="플랫폼 코드">-->
                        <select id="platform_code">
                            <option value="SINMA">신마</option>
                            <option value="GOLALA">골라라</option>
                            <option value="SELLUP">셀업</option>
                            <option value="LINK">링크샵스</option>
                            <option value="EASYPICK">이지픽</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="platform_id">플랫폼 ID<span class="text-danger ml-05">*</span></label>
                        </div>
                        <input class="form-control is_impotent" id="platform_id" type="text" name="platform_id" placeholder="플랫폼 ID 넣어주세요" data-alram="플랫폼 ID">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="password">플랫폼 비밀번호<span class="text-danger ml-05">*</span></label>
                        </div>
                        <input class="form-control is_impotent" id="password" type="text" name="password" placeholder="플랫폼 비밀번호 넣어주세요" data-alram="플랫폼 비밀번호">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="story_content">설명</label>
                        </div>
                        <textarea class="form-control" id="description" name="description" cols="120" rows="5" data-alram="description"></textarea>
                    </div>

                    <div class="button-group">
                        <button type="button" class="btn btn-success float-right" onclick="saveInfo()">저장</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    const params = getUrlParams();
    $(function() {
        setPlatformInfo()
    });

    //해당 정보 세팅
    function setPlatformInfo() {
        $.ajax({
            type : "GET",
            url : `${denma_nextdop_api_url}/wholesale/platform/${params.client_id}/${params.platform_code}`,
            //data : {"client_id" : params.client_id},
            success : function (response) {
                console.log('setPlatformInfo :: ', response);
                $('#platform_code').val(response.platform_code);
                $('#platform_id').val(response.platform_id);
                $('#password').val(response.password);
                $('#description').val(response.description);

            },
            error : function (error) {

            }
        });
    }

    //저장
    function saveInfo(){
        const sendData = {
            "platform_code" : $('#platform_code').val(),
            "platform_id" : $('#platform_id').val(),
            "password" : $('#password').val(),
            "description" : $('#description').val()
        }

        $.ajax({
            type : "POST",
            url : `${denma_nextdop_api_url}/wholesale/platform/${params.client_id}`,
            data : sendData,
            success : function() {
                alert("수정되었습니다.");
            },
            error : function(error) {
                console.log("error :: ", error);
                alert("오류가 발생했습니다.");
            }
        });
    }
</script>