/* button */
.buttonWrap {
    flex: 1;
    display: flex;
}
.button {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    padding: 10px 0;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 6px;
}
.button.is_off {
    color: rgba(255, 255, 255, 0.5);
    background: #666666;
    border-color: transparent;
}
.button.is_on {
    color: #FFFFFF;
    background: linear-gradient(0deg, #FF4D00 0%, #FF00D6 100%);
    border-color: transparent;
}
.button.is_middle.is_none{
    color: transparent;
    background: transparent;
    border-color: transparent;
}
.button:disabled {
    color: rgba(255, 255, 255, 0.5);
    background: #666666;
}
.button.is_big {
    width: 167px;
    padding: 18px 0;
}
.button.is_middle {
    width: 68px;
    padding: 10px 0;
    margin-left: 10px;
}
.button.is_small {
    width: 81px;
    padding: 5px 0 4px;
}

/* ghostButton */
.ghostButton {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 52px;
    padding: 0 17px;
    border: 2px solid #000000;
    border-radius: 6px;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #000000;
}
.ghostButton + .ghostButton {
    margin-left: 10px;
}
.ghostButton[disabled] {
    background-color: rgba(0, 0, 0, 0.15);
}
.ghostButton.is_white {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.ghostButton.is_white[disabled] {
    color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
}
.ghostButton.is_black {
    color: #FFFFFF;
    background-color: #000000;
}

/* profile */
.profile {
    flex: none;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: auto;
}
.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: no-repeat center / cover;
}
.profileText {
    flex: none;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.profileTitle {
    font-family: Apple SD Gothic Neo;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #000000;
}
.profileTag {
    margin-top: 2px;
    font-family: Apple SD Gothic Neo;
    font-size: 12px;
    line-height: 14px;
    color: #939393;
    text-align: left;
}

/* input button */
.checkBoxBtn {
    position: relative;
    flex: none;
    width: 34px;
    height: 20px;
}
.checkBoxBtnInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}
.checkBoxBtnInput:checked ~ .checkBoxBtnCircle {
    left: calc(100% - 20px);
    background: #FF00D6;
}
.checkBoxBtnBar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 5px;
    bottom: 5px;
    background: #EF5DA8;
    opacity: 0.24;
    border-radius: 34px;
    z-index: 1;
}
.checkBoxBtnCircle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: calc(0%);
    top: 0;
    background: #F1F1F1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.237602);
    z-index: 2;
    transition: 0.2s;
}

/* popup */
.dim {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popup {
    flex: none;
    margin: auto;
    min-width: 270px;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 14px;
}
.popupHeader {
    padding: 18px;
}
.popupHeaderTitle {
    display: block;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #000000;
}
.popupHeaderSub {
    display: block;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.078px;
    color: #000000;
}
.popupHeader + .popupBody .popupBodyButton:first-of-type,
.popupBodyButton + .popupBodyButton {
    border-top: solid 1px rgba(84, 84, 88, 0.65);
}
.popupBodyButton {
    display: block;
    width: 100%;
    padding: 12px 18px 10px;
    font-family: Noto Sans KR;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
}
a.popupBodyButton,
button.popupBodyButton {
    text-align: center;
    color: #0A84FF;
}
.popup.is_black {
    background: rgba(30, 30, 30, 0.75);
}
.popup.is_black .popupHeaderTitle {
    color: #FFFFFF;
}
.popup.is_black .popupHeaderSub {
    color: #FFFFFF;
}