.test {
  height: 800px;
  background-color: var(--silver);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 88px;
  padding: 58px 0;
  background-color: var(--white);
}

.section {
  display: flex;
  flex-direction: column;
  flex: none;
  width: 100%;
  max-width: 1280px;
  gap: 12px;
  padding: 0 24px;
}

.sectionTitleWrap {
  display: flex;
  gap: 10px;
}

.sectionTitle {
  font-size: 32px;
  font-weight: var(--bold);
  color: var(--black);
}

.sectionContentWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 38px;
}

.sectionContent {
  display: flex;
  flex: none;
  width: 100%;
  min-width: 320px;
  flex-direction: column;
  gap: 16px;
}

@media all and (min-width: 768px) {
  .section.is_dual .sectionContent {
    flex: 0 0 calc((100% - 38px) / 2);
  }
  
  .section.is_triple .sectionContent {
    flex: 0 0 calc((100% - (38px * 2)) / 3);
  }
  
  .section.is_quad .sectionContent {
    flex: 0 0 calc((100% - (38px * 3)) / 4);
  }
  
  .section.is_penta .sectionContent {
    flex: 0 0 calc((100% - (38px * 4)) / 5);
  }
  
  .section.is_hexa .sectionContent {
    flex: 0 0 calc((100% - (38px * 5)) / 6);
  }
  
  .section.is_split .sectionContent {
    flex: 1;
  }
}

.sectionContentTitle {
  display: flex;
  gap: 10px;
  font-size: 22px;
  line-height: 28px;
  color: var(--black);
}

.sectionContentDescription {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 16px;
  color: var(--black);
}

.sectionForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionFormInput {
  padding: 8px;
  border: 1px solid var(--silver);
  border-radius: 4px;
}

.sectionFormTextArea {
  height: 150px;
  padding: 8px;
  border: 1px solid var(--silver);
  border-radius: 4px;
}

.sectionFormSend {
  display: inline-block;
  width: auto;
  flex: none;
  padding: 10px 20px;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sectionFormSend:hover {
  background-color: rgba(var(--orange-rgb), 0.8);
}

.sectionFormSend:disabled {
  background-color: var(--silver);
  color: var(--white);
  cursor: not-allowed;
}