/* Section */
.sectionWrap {
  
}

.section, .sectionWrap {
  display: flex;
  position: relative;
  z-index: 1;
}

.sectionBg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sectionBgImage {
  flex: none;
  width: auto;
  height: 100%;
}

.sectionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  min-height: 100px;
  padding: 80px 60px;
  z-index: 1;
}

.sectionTitle {
  font-size: 32px;
  font-weight: var(--bold);
  line-height: 1.1;
  color: var(--white);
  letter-spacing: 0.02em;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.sectionDescription {
  font-size: 16px;
  line-height: 1.8;
  color: var(--white);
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Banner */
.banner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.bannerText {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.bannerTextTitle {
  display: inline-block;
  position: relative;
  font-weight: var(--bold);
  line-height: 1.1;
  font-size: 82px;
  word-break: keep-all;
  white-space: nowrap;
  background: linear-gradient(0.3turn, var(--peach) 10%, var(--lemon) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bannerTextTitle::after {
  display: block;
  content: "Hello\AI'm JooHoon";
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre-wrap; /* 또는 pre */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.bannerTextDescription {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 2;
  color: var(--white);
  margin-top: 12px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bannerSlider {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  touch-action: none;
}

.bannerSliderItem {
  flex: none;
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

@keyframes moveUpDown {
  0%,
  80%,
  90%,
  100% {
    bottom: 4px;
  }
  84%,
  94% {
    bottom: -4px;
  }
}

.bannerShowMore {
  display: none;
  flex-direction: column;
  align-items: center; /* 수직 중앙 정렬 */
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUpDown 5s ease-out infinite;
}
.bannerShowMoreText {
  font-size: 12px;
  color: var(--white);
  font-weight: var(--bold);
  text-align: center;
  letter-spacing: 0.08em;
}

@media all and (max-width: 768px) {
  /* Section */
  .sectionBox {
    padding: 80px 16px;
    gap: 8px;
  }

  .sectionTitle {
    font-size: 26px;
    line-height: 1.1;
  }
  
  .sectionDescription {
    font-size: 13px;
    line-height: 1.6;
  }

  /* Banner */
  .bannerText {
    padding: 0 16px;
  }

  .bannerTextTitle {
    font-size: 42px;
  }

  .bannerTextDescription {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.4;
    margin-top: 4px;
  }

  .bannerShowMore {
    display: flex;
  }
}
