<style>
    .td-center{text-align: center;}
</style>

<!-- 페이지 타이틀 -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">회원 해지</h4>
        </div>
    </div>
</div>
<!-- 페이지 컨텐츠  -->
<div class="container-fluid">
    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">멤버ID 검색</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" id="mem_id">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="getClientList()"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="clientMembershipList table-bordered" style="width: 100%;">
                    <thead>
                    <tr>
                        <th class="text-dark font-weight-bold">클라이언트 ID</th>
                        <th class="text-dark font-weight-bold">이메일</th>
                        <th class="text-dark font-weight-bold">몰명</th>
                        <th class="text-dark font-weight-bold">폰번호</th>
                        <th class="text-dark font-weight-bold">해지사유</th>
                        <th class="text-dark font-weight-bold">사용일</th>
                        <th class="text-dark font-weight-bold">회원가입일</th>
                        <th class="text-dark font-weight-bold">해지일</th>
                        <th class="text-dark font-weight-bold">status_str</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        getClientList();
    });


    // 회원 리스트 조회
    function getClientList(){
        const sendData = {
            "mem_id" : $('#mem_id').val().trim()
        }

        $(".clientMembershipList").dataTable().fnDestroy()
        $('.clientMembershipList').DataTable({
            "processing": true,
            "serverSide": true,
            "lengthChange": false,
            "stateSave": false,
            "ordering": false,
            "searching": false,
            "info" : false,
            "pageLength": 20,
            "ajax": {
                "type" : "GET",
                "url" : `${denma_api_url}/api/membership/client-membership/termination/list`,
                "data" : sendData,
                dataSrc : function (response) {
                    console.log("response :: ", response);
                    return response.data;
                }
            },

            "columns" : [
                {"data": "client_id"},
                {"data": "mem_id"},
                {"data": "homepage_name"},
                {"data": "phone"},
                {"data": "reason"},
                {"data": "used_day"},
                {"data": "join_date"},
                {"data": "create_date"},
                {"data": "status_str"}
            ],
            "columnDefs": [
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 0
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 1
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 2
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 3
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 4
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 5
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 6
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return (data !== null? data : 0);
                    },
                    "targets": 7
                },
                {
                    "width" : "10%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 8
                },

            ],
            "drawCallback": function(response) {

            }
        });
    }


    // 날짜 데이터에서 시간 제거.
    function removeTime(param) {
        return param.split("T")[0];
    }

</script>
