.header {
  display: flex;
  position: fixed;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  z-index: 500;
  top: 0;
  width: 100%;
  opacity: 1;
  background-color: rgba(var(--black-rgb), 0.5);
  transition: all 0.4s ease-out;
}

.headerWrap {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 8px 24px;
  box-sizing: border-box;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 24px;
  font-size: 14px;
  color: var(--white);
  letter-spacing: 0.15em;
  z-index: 100;
}

.headerMenuButton {
  display: none;
  z-index: 100;
  margin-left: auto;
}

.headerNavWrap {
  display: flex;
  margin-left: auto;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  background-color: rgba(var(--black-rgb), 0);
}

.headerNav {
  display: flex;
  padding: 12px 0;
  gap: 20px;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.headerNavItem {
  position: relative;
  display: inline-block;
  line-height: 24px;
  color: var(--white);
  font-size: 16px;
  transition: color 0.2s ease-out;
}
.headerNavItem.is_active {
  color: var(--orange);
}
.headerNavItem.is_active:after {
  width: 100%;
}

@media all and (min-width: 768px) {
  .headerNavItem:hover {
    color: var(--silver);
  }
  .headerNavItem:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: 0.4s;
  }
  .headerNavItem:hover:after {
    width: 100%;
    background-color: var(--silver);
  }
  .headerNavItem.is_active:after {
    background-color: var(--orange);
  }
  .headerNavItem.is_active {
    color: var(--orange);
  }
}

@media all and (max-width: 768px) {
  .header.is_open {
    background-color: rgba(var(--black-rgb), 0);
  }

  .headerWrap {
    padding: 12px 18px;
  }

  .headerLogo {
    gap: 12px;
    height: 24px;
    font-size: 14px;
    color: var(--white);
    letter-spacing: 0.15em;
    z-index: 100;
  }

  .headerNavWrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    background-color: rgba(var(--black-rgb), 0.5);
    transition: opacity 0.4s ease-out;
  }

  .header.is_open .headerNavWrap {
    opacity: 1;
  }

  .header:not(.is_open):not(.is_openEnd) .headerNavWrap {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .headerMenuButton {
    display: flex;
  }

  .header:not(.is_open) .headerNav {
    opacity: 0;
  }
}
