<style>
  .td-center {
    text-align: center;
  }
</style>

<!-- 페이지 타이틀 -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">프레임 필터 리스트</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <div class="button-group">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 페이지 컨텐츠  -->
<div class="container-fluid">
    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">필터 타입 선택</span>
                        </div>
                        <div class="input-groupWrapBody listContentsFormGroup_inputBD is_full">
                            <select class="custom-select is_underLine" id="filter_type" name="filter_type" onchange="goSearch()">
                                <option value="">전체</option>
                                <option value="CATEGORY">카테고리</option>
                                <option value="SUB_CATEGORY">하위 카테고리</option>
                                <option value="NEW_ROW">단수</option>
                                <option value="NEW_STYLE">스타일</option>
                                <option value="SEEZN">시즌</option>
                                <option value="COLOR">컬러</option>
                                <option value="UNIT_SET">프레임 세트</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-auto pl-0">
                    <button type="button" onclick="javascript:createFilter();" class="btn mb-0 mr-0 waves-effect waves-light btn-success">필터
                        등록
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="text-dark font-weight-bold">이름</th>
                        <th class="text-dark font-weight-bold">타입</th>
                        <th class="text-dark font-weight-bold">활성화 상태</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

  $(document).ready(function () {
    goSearch();

    $('input').keydown(function (key) {
      if (key.keyCode == 13) {
        goSearch();
      }
    });
  });

  // 리스트 조회
  function goSearch() {

    let sendData = {
      "filter_type": $("#filter_type").val(),
    }

    $(".table").dataTable().fnDestroy()
    $('.table').DataTable({
      "processing": true,
      "serverSide": true,
      "lengthChange": false,
      "stateSave": true,
      "ordering": false,
      "searching": false,
      "info": false,
      "pageLength": 10,
      "ajax": {
        "type": "GET",
        "url": `${denma_api_url}/api/unit/filter/list`,
        "data": sendData,
      },
      "columns": [
        {
          "render": function (data, type, full, meta) {
            // 유닛 필터의 종류가 유닛 세트인 경우 분기 처리.
            if (full.filter_type === "UNIT_SET") {
              return `<a href="/view/unit/unitSetFilterUpdate?filter_seq=${full.filter_seq}">${full.filter_name}</a>`
            } else {
              return `<a href="/view/unit/unitFilterUpdate?filter_seq=${full.filter_seq}">${full.filter_name}</a>`
            }
          }
        },
        {
          "data": "filter_type"
        },
        {
          "width": "12%",
          "className": 'td-center',
          "render": function (data, type, full, meta) {
            if (full.status == "01") {
              return "O";
            } else {
              return "X";
            }
          }
        },
      ]
    });
  } // end goSearch()

  function createFilter() {
    location.href = "/view/unit/unitFilterRegist";
  }
</script>