/* common */
.container {
	max-width: 1440px;
	margin: auto;
}
/* common */

/* hero */
.hero {
	height: 968px;
	margin-top: 78px;
	background: no-repeat center url("../img/hero_a.png");
}
.hero_textBox {
	text-align: center;
}
.hero_eyeBrow {
	display: block;
	font-size: 18px;
	font-weight: bold;
}
.hero_title {
	display: block;
	font-size: 50px;
	font-weight: bold;
	margin-top: 18px;
}
.hero_text {
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #888888;
	margin-top: 8px;
}
/* //hero */

/* eventInfo */
.eventInfo {
	background: no-repeat center url("../img/eventInfo_bg_a.png");
	background-size: cover;
	padding: 178px 0 107px;
}
.eventInfo_textBox {
	max-width: 1080px;
	margin: auto;
}
.eventInfo_eyeBrow {
	display: block;
	font-size: 14px;
	margin-bottom: 30px;
}
.eventInfo_text {
	font-size: 40px;
	font-weight: 700;
}
.eventInfo_info {
	margin-top: 50px;
}
.eventInfo_infoItem {
	display: block;
}
.eventInfo_infoItem + .eventInfo_infoItem {
	margin-top: 10px;
}
.eventInfo_infoTitle {
	display: inline-block;
	width: 57px;
	color: #999999;
}
.eventInfo_infoDescription {
	font-weight: 700;
	display: inline-block;
}
.eventInfo_stepList {
	max-width: 1080px;
	margin: 138px auto 0;
	font-size: 0;
}
.eventInfo_step {
	display: inline-block;
	width: 234px;
	padding-top: 166px;
	background: no-repeat top;
	background-size: contain;
}
.eventInfo_step + .eventInfo_step {
	margin-left: 48px;
}
.eventInfo_stepTitle {
	display: block;
	margin-top: 25px;
	font-size: 18px;
	font-weight: 700;
}
.eventInfo_stepText {
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}
/* //eventInfo */

/* banner */
.banner {
	width: 100%;
	height: 312px;
	background: no-repeat center url("../img/eventInfo_banner_a.png");
	margin-bottom: 128px;
}
/* //banner */

/* contentBox */
.contentBox {
	max-width: 1080px;
	margin: 0 auto 110px;
	font-size: 0;
}
.contentBox_fix {
	position: relative;
	display: inline-block;
	width: 610px;
	height: 1910px;
}
.contentBox_fixItem {
	width: 610px;
	height: 730px;
	background: no-repeat center;
	background-size: cover;
	margin-top: 50px;
}
.contentBox_fixItem.is_top {
	position: fixed;
	top: 0;
}
.contentBox_fixItem.is_bottom {
	position: absolute;
	bottom: 0;
}
.contentBox_buyBoxList {
	width: 470px;
	display: inline-block;
}
.contentBox_buyBox {
	display: inline-block;
	width: 340px;
	height: 530px;
	background-color: red;
	margin-top: 70px;
}
/* //contentBox */

/* footer */
.footer {
	padding: 50px 0;
	background-color: #252525;
}
.footer_inner {
	max-width: 1080px;
	margin: auto;
	color: #ffffff;
}
.footer_title {
	font-size: 17px;
	font-weight: 700;
}
.footer_textList {
	margin-top: 10px;
}
.footer_text {
	position: relative;
	font-size: 12px;
	font-weight: 400;
}
.footer_text + .footer_text {
	margin-top: 5px;
}
.footer_text b {
	font-weight: 700;
	letter-spacing: 0.2px;
}
/* //footer */