<style>
    .td-center{text-align: center;}
    .outerTable {
        background-color: #F9F9F9;
        border-top: 2px solid #A8A8A8 !important;
    }
    .outerTable>td:first-child,
    .outerTable>td:nth-child(3){
        text-align: center;
    }
    .outerTable>td:nth-child(7){
        text-align: left;
    }
    .tabletxtalign {
        text-align: center !important;
    }



    .popupdiv {
        padding: 10px 10px 10px 10px;
    }



</style>

<!-- 페이지 타이틀 -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">메뉴 설정</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <div class="button-group">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 페이지 컨텐츠  -->
<div class="container-fluid">
    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-auto pl-0">
                    <button type="button" onclick="createMenu()" class="btn mb-0 mr-0 waves-effect waves-light btn-success">메뉴 등록</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="common_size_info table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="text-dark font-weight-bold">번호</th>
                        <th class="text-dark font-weight-bold">메뉴 이름</th>
                        <th class="text-dark font-weight-bold">설명</th>
                        <th class="text-dark font-weight-bold">url 주소</th>
                        <th class="text-dark font-weight-bold"></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        getMenuInfoList()
    });

    // 유닛 템플릿 리스트 조회
    function getMenuInfoList(){
        let childList = []

        $("#dataTable").dataTable().fnDestroy()
        $('#dataTable').DataTable({
            "processing": true,
            // "serverSide": true,
            "lengthChange": false,
            "stateSave": true,
            "ordering": false,
            "searching": false,
            "pageLength": 10,
            "ajax": {
                url : `${denma_nextdop_api_url}/permission/menu/list`,
                // dataSrc : function (response) {
                //     console.log("response : ", response)
                //
                //     return response;
                // }
            },
            columns : [
                {
                    width: "10%",
                    className: 'td-center',
                    render: function (data, type, full, meta) {
                        for (let child of full.childNode){
                            childList.push(child)
                        }
                        return `<span id="menu${full.permission_menu_seq}">${full.permission_menu_seq}</span>`;
                    }
                },
                {
                    width: "20%",className: 'td-center',
                    render: function (data, type, full, meta) {
                        return full.permission_menu_name;
                    }
                },
                {
                    width: "30%",className: 'td-center',
                    render: function (data, type, full, meta) {
                        return full.permission_menu_comment;
                    }
                },
                {
                    width: "20%",className: 'td-center',
                    render: function (data, type, full, meta) {
                        return full.permission_menu_url;
                    }
                },
                {
                    width: "20%",className: 'td-center',
                    render: function (data, type, full, meta) {
                        return `<button onclick="updateMenu(${full.permission_menu_seq},'${full.permission_menu_name}','${full.permission_menu_url}','${full.permission_menu_comment}')" class="waves-effect waves-light">수정</button>
                                     <span> / </span>
                                    <button onclick="deleteMenu(${full.permission_menu_seq})" class="waves-effect waves-light">삭제</button>`;
                    }
                }
            ],drawCallback: function (settings) {
                console.log("childList : ", childList)
                for (const childNode of childList) {
                    const parentNode = $('#menu'+childNode.permission_menu_parent_seq)
                    console.log("childNode : ", childNode)
                    console.log("parentNode : ", parentNode)
                    const targetRow = parentNode.parents('tr[role=row]');
                    console.log("targetRow : ", targetRow)
                    targetRow.addClass('outerTable').css('border-top','1px solid red');
                    let formatHtml = `
                            <tr class="subTable">
                                <td class="tabletxtalign">${childNode.permission_menu_seq}</td>
                                <td class="tabletxtalign">${childNode.permission_menu_name}</td>
                                <td class="tabletxtalign">${nullToBlank(childNode.permission_menu_comment)}</td>
                                <td class="tabletxtalign">${childNode.permission_menu_url}</td>
                                <td class="tabletxtalign">
                                    <button onclick="updateMenu(${childNode.permission_menu_seq},'${childNode.permission_menu_name}','${childNode.permission_menu_url}','${childNode.permission_menu_comment}')" class="waves-effect waves-light">수정</button>
                                     <span> / </span>
                                    <button onclick="deleteMenu(${childNode.permission_menu_seq})" class="waves-effect waves-light">삭제</button>
                                </td>
                            </tr>
                        `
                    targetRow.after(formatHtml);
                }
            }
        });
    }

    function nullToBlank(str){
        if (isEmpty(str)){
            return ''
        }else{
            return str;
        }
    }

    function createMenu() {
        console.clear()
        let html =`<div>
                    <div id="addMenuWrap">
                        <div class="popupdiv">
                            <label for="parentNodeData" id="parentNodeData" data-parent-seq="0">
                                상위 메뉴 /
                            </label>
                            <label>
                                메뉴 이름
                                <input type="text" id="parentMenuName">
                            </label>
                            <label>
                                설명
                                <input type="text"  id="parentMenuComment">
                            </label>
                            <label>
                                url
                                <input type="text" id="parentMenuUrl">
                            </label>
                            <label>
                                상위메뉴 불러오기
                                <select id="parentNodeList" onchange="changeSelect()">
                                    <option value="0">선택</option>`;


        let menuList = kiwiApiAjax('get','/permission/menu/list',null,false);
        for (const menuData of menuList.get("data")) {
            console.log("menuData : ",menuData )
            html += `<option id="optMenuParentNode${menuData.permission_menu_seq}" value="${menuData.permission_menu_seq}" data-name="${menuData.permission_menu_name}" data-comment="${menuData.permission_menu_comment}">${menuData.permission_menu_name}</option>`
        }

        html += `
                                </select>
                            </label>
                            <button onclick="addDepth()">하위 depth 추가</button>
                        </div>
                    </div>
                    <button onclick="saveMenu()" class="btn mb-0 mr-0 waves-effect waves-light btn-success">저장</button>
                    </div>`;



        openPopup({
            type: 'EDIT',
            title: '메뉴 등록',
            html: html,
            maxWidth: '1100px',
        },true);
    }

    function addDepth(){
        console.log("addDepth")
        let html = `
        <div>
                <div name="menuWrap" class="popupdiv">
                    <label>
                        하위 메뉴 /
                    </label>
                    <label>
                        메뉴 이름
                        <input type="text" name="menuName">
                    </label>
                    <label>
                        설명
                        <input type="text" name="menuComment">
                    </label>
                    <label>
                        url
                        <input type="text" name="menuUrl">
                    </label>
                </div>
        </div>`;

        $('#addMenuWrap').append(html)
    }

    function saveMenu(){
        console.log("saveMenu")
        let sendData = [];
        let parentSeq = $('#parentNodeData').attr('data-parent-seq')

        console.log("parentSeq : ", parentSeq)
        if (0 === parseInt(parentSeq)) {
            let name = $('#parentMenuName').val().trim();
            if (isEmpty(name)){
                alert("상위 메뉴 이름이 입력되지 않았습니다.")
                return false;
            }
            let parentObj = {
                "permission_menu_parent_seq":0,
                "permission_menu_name": name,
                "permission_menu_comment": $('#parentMenuComment').val().trim(),
                "permission_menu_url": $('#parentMenuUrl').val(),
                "permission_menu_depth":1,
                "child":false
            }
            console.log("parentObj : ", parentObj)
            sendData.push(parentObj)
            sendData = menuObjFactory(parentSeq,sendData)
        }else{
            // menuName menuComment menuUrl
            sendData = menuObjFactory(parentSeq,sendData)
        }
        if (isEmpty(sendData)){
            alert("정보를 입력하여주세요")
        }
        kiwiApiAjax('post','/permission/menu',sendData,false);
        location.reload();
    }

    function menuObjFactory(parentSeq,sendData){
        let menuWrap = $('div[name=menuWrap]');
        let parent_name = null;
        if (0 === parseInt(parentSeq)){
            parent_name = $('#parentMenuName').val().trim();
            parentSeq = null;
        }
        menuWrap.each(function (index,value){
            console.log("value : ", value)
            let name = $(value).find('input[name=menuName]').val();
            let url = $(value).find('input[name=menuUrl]').val();
            let comment = $(value).find('input[name=menuComment]').val();
            if (isEmpty(name) || isEmpty(url)){
                alert("이름 또는 url을 입력하여주세요")
                return false;
            }
            let menuObj = {
                "permission_menu_parent_seq" : parentSeq,
                "permission_menu_name": name,
                "permission_menu_comment": comment,
                "permission_menu_url": url,
                "permission_menu_depth":2,
                "parent_name":parent_name,
                "child":true
            }
            sendData.push(menuObj);
        })

        return sendData;
    }


    function changeSelect(){
        let evtTarget = $(event.currentTarget)
        console.log("evtTarget : ", evtTarget)
        let selectParentSeq = evtTarget.val();
        $('#parentNodeData').attr('data-parent-seq', selectParentSeq);
        let optTarget = $('#optMenuParentNode'+selectParentSeq)
        $('#parentMenuName').val(optTarget.attr('data-name'))
        $('#parentMenuComment').val(optTarget.attr('data-comment'))
        if(!(0 === parseInt(selectParentSeq))){
            $('#parentMenuName').attr('readonly', true);
            $('#parentMenuComment').attr('readonly', true);
        }else{
            $('#parentMenuName').attr('readonly', false);
            $('#parentMenuComment').attr('readonly', false);
        }

    }

    function deleteMenu(menuSeq){
        if(confirm("삭제 하시겠습니까?")){
            console.log("menuSeq : ", menuSeq)
            kiwiApiAjax('delete', '/permission/menu/' + menuSeq, null, false);
            location.reload();
        }
    }

    function updateMenu(menuSeq, menuName, menuUrl, comment){
        console.log("menuSeq : ",menuSeq )
        let html = `
        <div>
            <br>
          <div class="popupdiv">
                <div name="menuWrap" class="popupdiv">
                    <label>
                        메뉴 이름
                        <input type="text" id="updateMenuName" value="${menuName}">
                    </label>
                    <label>
                        설명
                        <input type="text" id="updateMenuComment" value="${comment}">
                    </label>
                    <label>
                        url
                        <input type="text" id="updateMenuUrl" value="${menuUrl}">
                    </label>
                </div>
        </div>
        <button onclick="updateSaveMenu(${menuSeq})" class="btn mb-0 mr-0 waves-effect waves-light btn-success">저장</button>
        </div>`;
        openPopup({
            type: 'EDIT',
            title: '메뉴 수정',
            html: html,
            maxWidth: '700px',
        },true);
    }

    function updateSaveMenu(menuSeq){
        let sendData = [];
        let name = $('#updateMenuName').val().trim();
        let url = $('#updateMenuUrl').val().trim();
        let comment = $('#updateMenuComment').val().trim();
        if (isEmpty(name)){
            alert("이름이 입력되지 않았습니다.")
            return false;
        }
        let menuObj = {
            "permission_menu_seq" : menuSeq,
            "permission_menu_name": name,
            "permission_menu_comment": comment,
            "permission_menu_url": url,
        }
        sendData.push(menuObj);
        kiwiApiAjax('put','/permission/menu',sendData,false);
        location.reload();
    }


</script>