<style>
    .td-center{text-align: center;}
</style>

<!-- 페이지 타이틀 -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">도매 업체 리스트</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <div class="button-group">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- 페이지 컨텐츠  -->
<div class="container-fluid">
    <div class="widget-content searchable-container list">
        <div class="card card-body">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
<!--                        <div class="input-group-prepend">-->
<!--                            <span class="input-group-text">알림 타입</span>-->
<!--                        </div>-->
<!--                        <select class="custom-select is_underLine" id="notice_type" name="notice_type" onchange="getList()">-->
<!--                            <option value="">전체</option>-->
<!--                            <option value="NOTICE">안내사항</option>-->
<!--                            <option value="FAQ">자주묻는질문</option>-->
<!--                        </select>-->
                        <div class="input-group-prepend">
                            <span class="input-group-text">도매처명</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" id="wholesale_name">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="getList()"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-auto pl-0">
                    <button type="button" onclick="goCreate()" class="btn mb-0 mr-0 waves-effect waves-light btn-success">도매업체 등록</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="dataList table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="text-dark font-weight-bold text-center">No.</th>
                        <th class="text-dark font-weight-bold text-center">도매처명</th>
                        <th class="text-dark font-weight-bold text-center">상점</th>
                        <th class="text-dark font-weight-bold text-center">층</th>
                        <th class="text-dark font-weight-bold text-center">호수</th>
                        <th class="text-dark font-weight-bold text-center">번호</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        getList();
    });

    // 알림 리스트를 불러온다.
    function getList() {

        const sendData = {
            wholesale_name : $('#wholesale_name').val(),
        }
        console.log('getList 2::', sendData);
        $(".dataList").dataTable().fnDestroy()
        $('.dataList').DataTable({
            "processing": true,
            "serverSide": true,
            "lengthChange": false,
            "stateSave": true,
            "ordering": false,
            "searching": false,
            "pageLength": 15,
            "ajax": {
                "url" : `${denma_api_url}/api/wholesale/company/list`,
                "data" : sendData,
                dataSrc : function (response) {
                    return response.data;
                }
            },
            "columns" : [
                {"data": "seq"},
                {"data": "wholesale_name"},
                {"data": "store"},
                {"data": "floor"},
                {"data": "number"},
                {"data": "order_phone1"},
            ],
            "columnDefs": [
                {
                    "width" : "5%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return `<a href='/view/wholesale/company/modify?seq=${data}'>${data}</a>`;
                    },
                    "targets": 0
                },
                {
                    "width" : "35%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 1
                },
                {
                    "width" : "23%",
                    "render": function(data, type, row) {
                        return data;
                    },
                    "targets": 2
                },
                {
                    "width" : "12%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        //return data.split('T')[0].replaceAll('-', '.');
                        return getFormatStrDate(data, '-');
                    },
                    "targets": 3
                },
                {
                    "width" : "12%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        //return data.split('T')[0].replaceAll('-', '.');
                        return getFormatStrDate(data, '-');
                    },
                    "targets": 4
                },
                {
                    "width" : "12%",
                    "className": 'td-center',
                    "render": function(data, type, row) {
                        //return data.split('T')[0].replaceAll('-', '.');
                        return getFormatStrDate(data, '-');
                    },
                    "targets": 5
                },
            ],
        });
    }

    // 등록 화면으로 이동
    function goCreate() {
        location.href = '/view/wholesale/company/create';
    }
</script>