/* layout */
.login {
    position: relative;
    background: no-repeat center / cover url('img/login_bg.jpg');
}
.login.is_dim:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
}
.loginInner {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-width: 760px;
    margin: auto;
    padding: 55px 58px;
}
.loginTop {

}
.loginTitle {
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}
.loginTitle span {
    display: inline-block;
    font-size: 36px;
    line-height: normal;
}
.loginTitle span + span {
    margin-left: 20px;
}
.loginSubTitle {
    margin-bottom: 17px;
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.loginBody {
    display: flex;
    flex-direction: column;
}
.loginBottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.loginTextButton {
    display: block;
    margin: 23px auto 0;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #FFFFFF;
}

/* form */
.loginForm {

}
.loginInputWrap {

}
.loginInputWrap + .loginInputWrap {
    margin-top: 40px;
}
.loginInputBox {
    display: flex;
}
.loginInputBox + .loginInputBox {
    margin-top: 6px;
}
.loginInputTitle {
    display: block;
    margin-bottom: 6px;
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.loginInputTitleTip {
    font-weight: normal;
    color: #666666;
    margin-left: 8px;
}
.loginInput {
    padding: 0 9px;
    flex: 1;
    display: flex;
    align-items: center;
    height: 34px;
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border-bottom: solid 1px #FFFFFF;
}
.loginInput + .loginInput {
    margin-left: 10px;
}
.loginInput.is_err {
    color: #FF4D00;
    border-bottom-color: #FF4D00;
}
.loginInput::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
.loginInput:placeholder-shown {
    border-bottom-color: rgba(255, 255, 255, 0.3);
}
