.mainInner {
    margin: auto;
    width: 100%;
    max-width: 800px;
}
.mainThumbnailList {
    padding: 20px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 9px;
    row-gap: 10px;
}
@media screen and (min-width: 620px) {
    .mainThumbnailList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.mainThumbnailItem {
    background-color: red;
    padding-bottom: 133.5329%;
}